@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
/*--text: #0a1a18;
--background: #e2f4f2;
--primary-button: #4280a9;
--secondary-button: #cccfeb;
--accent: #252b5f;*/

body{
  background-color: white;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

header{
  color: #0a1a18;
}

.navigation-bar{
  display: flex; 
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 10px 0;
}

.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-nav li{
  font-weight: bolder;
  list-style-type: none;
  margin: 0 20px;
}

.nav-icons {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.nav-icons button{
  width: 120px;
  padding: 12px 32px;
  background-color: #4280a9;
  color: white;
}

h1{
  margin-top: 0; 
}

h2{
  padding: 5px 10px;
}

h2, p{
  text-align: center;
}

p{
  font-size: 18px;
}

.logo-text{
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  color: #252b5f;
}

.logo img{
  width: 32px;
  height: 32px;
}

#hero{
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #e2f4f2;
  height: 100vh;
}

.hero-content {
  text-align: center;
}

button{
  font-size: 16px;
  font-weight: bolder;
  padding: 18px 36px; 
  margin: 10px 0;
  border-radius: 5px;
  border: 0;
  display: inline-block;
  cursor: pointer;   
}

a {
  color: inherit;
  text-decoration: none;
}

.quiz-component {
  width: 500px;    
  border-radius: 10px;
  color: #0a1a18; 
  background-color: #cccfeb;
  position: relative;
}

.score {
  color: #0a1a18;
  font-weight: bolder;
  position: absolute;
  right: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  padding-bottom: 15px;
}

ul li {
  font-size: 1.2rem;
  margin: 15px 20px;
}

ul li label {
  cursor: pointer;
}

.user-controls{
  text-align: center;
}

.user-controls button {
  margin-right: 10px;
  display: block;
  padding: 20px;
  width: 100%;
  font-size: 18px;
  background-color: #252b5f;
  color: white;
  position: absolute;
  top: 90%;
}

#question {
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.heading-padding{
  padding: 0 20px;
}
.message-padding{
  padding-bottom: 40px;
}

.play-again-button {
  margin-right: 10px;
  display: block;
  padding: 20px;
  width: 100%;
  font-size: 18px;
  background-color: #252b5f;
  color: white;
  position: absolute;
  top: 90%;
}

.trophy-image{
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto;
  padding: 20px 0;
}

/*Responsive Media Queries*/
@media (min-width: 320px) and (max-width: 479px){
  .main-nav{
    display: none;
  }

  .logo-text{
    margin-top: 10px;
  }

  .nav-icons{
    display: none;
  }

  button{
    font-size: 14px;
    padding: 10px 20px;
  }

  .quiz-component{
    max-width: 350px;
  }
  .rules-content p,
  .quiz-component li{
    font-size: 16px;
  }
  .rules-content{
    font-size: 24px;
  }
  .quiz-component ul{
    padding-bottom: 60px;
  }
  .previous{
    font-size: 16px;
  }
  .quiz-component ul{
  padding-bottom: 30px;
  }
}