@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body{
    background-color: white;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.quiz-component{
    width: 300px;
    height: 450px;
    margin: auto;
    padding: 25px;
    border-radius: 20px;
    background-color: #3a7ca5;
    color: white;
    text-align: center;
}

button{
    width: 150px;
    padding: 10px 14px;
    margin: 10px 0;
    border: 0;
    border-radius: 15px;
    display: inline-block;
    cursor: pointer;

    color: white;
    font-weight: bolder;
    font-size: 16px;
}

.start-btn{
    background-color: #16425b;
}

.start-btn:hover{
    background-color: #0f2e41;
}

.rules-btn{
    background-color: #d9dcd6;
    color:black;
}

.rules-btn:hover{
    background-color: #caccc8;
}

.rules-text{
    font-size: 14px;
}
.rules-container-content{
    display: none;
}
.show-rules .rules-container-content{
    display: block;
    text-align: left;
    list-style-type: square;
}
.show-rules .title-text{
    display: none;
}
.show-rules .start-btn{
    display: none;
}

.next-btn{
    background-color: #16425b;
}

.question-format{
    display: none;
}

.button-grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    margin-bottom: 20px;
}

.answer{
    background-color: #d9dcd6;
    color: black;
}

.answer:hover{
    background-color: #eceee9;
}

.show-quiz .start-btn{
    display: none;
}

.show-quiz .rules-btn{
    display: none;
}

.show-quiz .title-text{
    display: none;
}

.show-quiz .question-format{
    display: block;
    text-align: center;
}

.question-format.hidden {
    display: none;
}
